#{extends 'main.html' /}
#{set title:'Minerva - ' + book.title /}

<div class="container">
  <div class="tabbable tabs-left span9">
    <ul class="nav nav-tabs">
      #{if selectedSalesChannel == null}
        <li class="active">
          <a href="@{Application.showBookDetail(book.isbn)}">
            Combined
          </a>
        </li>
      #{/if}
      #{else}
        <li>
          <a href="@{Application.showBookDetail(book.isbn)}">
            Combined
          </a>
        </li>
      #{/else}
    
      #{list items:allSalesChannels, as:'salesChannel'}
        #{if salesChannel == selectedSalesChannel}
          <li class="active">
        #{/if}
        #{else}
          <li>
        #{/else}
            <a href="@{Application.showBookDetail(book.isbn, salesChannel.tag)}">
              ${salesChannel.name}<br>
            </a>
          </li>
      #{/list}
    </ul>
    
    <div class="tab-content">
      <div class = "well">
        <div id="chart" style="height:200px;"></div>
      </div>

      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
              <td>Total Unit Sales</td>
            #{if selectedSalesChannel == null}
              <td>${book.getTotalUnitSales()}</td>
            #{/if}
            #{else}
              <td>${book.getTotalUnitSales(selectedSalesChannel.tag)}</td>
            #{/else}
          </tr>
          <tr>
              <td>Total Purchase Cost</td>
            #{if selectedSalesChannel == null}
              <td>${book.getCurrencyFormatTotalPurchaseCost()}</td>
            #{/if}
            #{else}
              <td>${book.getCurrencyFormatTotalPurchaseCost(selectedSalesChannel.tag)}</td>
            #{/else}
          </tr>
          <tr>
              <td>Total Sales Revenue</td>
            #{if selectedSalesChannel == null}
              <td>${book.getCurrencyFormatTotalSalesRevenue()}</td>
            #{/if}
            #{else}
              <td>${book.getCurrencyFormatTotalSalesRevenue(selectedSalesChannel.tag)}</td>
            #{/else}
          </tr>
          <tr>
              <td>
                Distribution and support cost estimate 
                  #{if selectedSalesChannel != null}
                    (${selectedSalesChannel.costPercentage}%)
                  #{/if}
              </td>
            #{if selectedSalesChannel == null}
              <td>${book.getCurrencyFormatCostsEstimate()}</td>
            #{/if}
            #{else}
              <td>${book.getCurrencyFormatCostsEstimate(selectedSalesChannel.tag)}</td>
            #{/else}
          </tr>
          <tr class="success">
              <td>Profit</td>
            #{if selectedSalesChannel == null}
              <td>${book.getCurrencyFormatProfit()}</td>
            #{/if}
            #{else}
              <td>${book.getCurrencyFormatProfit(selectedSalesChannel.tag)}</td>
            #{/else}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="well span2 text-right">
    <div class="row">
      <div class="span2">
        <p>
          <img src=${book.getPhotoUrl()} class="img-polaroid" alt="${book.title}" title="${book.title}">
        </p>
        <p>
          Purchased at ${book.getCurrencyFormatPuchasePrice()}
        </p>
        <p>
          Sold at ${book.getCurrencyFormatSalePrice()}
        </p>
        <hr>
        <p>
          ${book.sku}
        </p>
        <p>
          ${book.title}
        </p>
        <p>
          <a href="@{Application.listByAuthor(book.author)}">${book.author}</a>
        </p>
        <p>
          ${book.isbn}
        </p>
      </div>
    </div>
  </div>
  
</div>

<script class="code" type="text/javascript">
  $(document).ready(function () {
    
    #{if selectedSalesChannel != null}
      var data = [${book.getChartData(selectedSalesChannel.tag)}];
    #{/if}
    #{else}
      var data = [${book.getChartData('all')}];
    #{/else}
    plot = $.jqplot("chart", [data], {
      // Turns on animation for all series in this plot.
      animate: true,
      // Will animate plot on calls to plot.replot({resetAxes:true})
      animateReplot: true,
      cursor: {
        show: false,
        zoom: false,
        looseZoom: false,
        showTooltip: true
      },
      series:[
        {
          rendererOptions: {
            // speed up the animation a little bit.
            // This is a number of milliseconds.
            // Default for a line series is 2500.
            animation: {
              speed: 1000
            }
          }
        }
      ],
      axesDefaults: {
        pad: 0
      },
      axes: {
        xaxis:{
          renderer:$.jqplot.DateAxisRenderer, 
          tickOptions:{formatString:'%b %y'},
          tickInterval:'1 month',
          min: data[0][0],
          max: data[0][data[0].length]
        },
        yaxis: {
          rendererOptions: {
            forceTickAt0: true
          }
        },
      },
      highlighter: {
        show: true, 
        showLabel: true, 
        tooltipAxes: 'y',
        sizeAdjust: 7.5 , tooltipLocation : 'n'
      }
    });
  });
  $(window).bind('resize', function(event, ui) {
    plot.replot({resetAxes:false});
  });
</script>
<script class="include" type="text/javascript" src="@{'/public/javascripts/jqplot/jquery.jqplot.min.js'}"></script>
<script class="include" type="text/javascript" src="@{'/public/javascripts/jqplot/plugins/jqplot.dateAxisRenderer.min.js'}"></script>
<script class="include" type="text/javascript" src="@{'/public/javascripts/jqplot/plugins/jqplot.highlighter.min.js'}"></script>
