#{extends 'main.html' /}
#{set title:'Minerva - ' + book.title /}

<div class="container">

  <div class="tabbable tabs-left span9">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab" id='all'>Combined</a></li>
      <li><a href="#tab2" data-toggle="tab" id='cat'>Catalogue</a></li>
      <li><a href="#tab3" data-toggle="tab" id='dir'>Direct</a></li>
      <li><a href="#tab4" data-toggle="tab" id='web'>Internet</a></li>
    </ul>
    <div class="tab-content">
    
      <div class = "well">
        <div id="chart" style="height:200px;"></div>
      </div>

      <div class="tab-pane fade in active" id="tab1">
        <div class = "well">
          <p>
            Combined
          </p>
          <p>
            Total Unit Sales: ${book.getTotalUnitSales()} <br>
            Total Purchase Cost: ${book.getCurrencyFormatTotalPurchaseCost()} <br>
            Total Sales Revenue: ${book.getCurrencyFormatTotalSalesRevenue()} <br>
            Distribution and support cost estimate: ${book.getCurrencyFormatCostsEstimate()} <br>
            Profit / Loss: ${book.getCurrencyFormatProfitLoss()}
          </p>
          <p>
            Sales Summary Rows: ${book.salesSummaries.size()}
          </p>
          <p>
            #{list items:book.salesSummaries, as:'salesSummary'}
              ${salesSummary.salesChannel.tag} ${salesSummary.summaryDate} ${salesSummary.salesQuantity}<br>
            #{/list}
          </p>
        </div>
      </div>
      <div class="tab-pane fade in" id="tab2">
        <div class = "well">
          <p>
            Catalogue
          </p>
          <p>
            Total Unit Sales: ${book.getTotalUnitSales('cat')} <br>
            Total Purchase Cost: ${book.getCurrencyFormatTotalPurchaseCost('cat')} <br>
            Total Sales Revenue: ${book.getCurrencyFormatTotalSalesRevenue('cat')} <br>
            Distribution and support cost estimate: ${book.getCurrencyFormatCostsEstimate('cat')} <br>
            Profit / Loss: ${book.getCurrencyFormatProfitLoss('cat')}
          </p>
          <p>
            Sales Summary Rows: ${book.salesSummaries.size()}
          </p>
          <p>
            #{list items:book.salesSummaries, as:'salesSummary'}
              ${salesSummary.salesChannel.tag} ${salesSummary.summaryDate} ${salesSummary.salesQuantity}<br>
            #{/list}
          </p>
        </div>
      </div>
      <div class="tab-pane fade in" id="tab3">
        <div class = "well">
          <p>
            Direct
          </p>
          <p>
            Total Unit Sales: ${book.getTotalUnitSales('dir')} <br>
            Total Purchase Cost: ${book.getCurrencyFormatTotalPurchaseCost('dir')} <br>
            Total Sales Revenue: ${book.getCurrencyFormatTotalSalesRevenue('dir')} <br>
            Distribution and support cost estimate: ${book.getCurrencyFormatCostsEstimate('dir')} <br>
            Profit / Loss: ${book.getCurrencyFormatProfitLoss('dir')}
          </p>
          <p>
            Sales Summary Rows: ${book.salesSummaries.size()}
          </p>
          <p>
            #{list items:book.salesSummaries, as:'salesSummary'}
              ${salesSummary.salesChannel.tag} ${salesSummary.summaryDate} ${salesSummary.salesQuantity}<br>
            #{/list}
          </p>
        </div>
      </div>
      <div class="tab-pane fade in" id="tab4">
        <div class = "well">
          <p>
            Internet
          </p>
          <p>
            Total Unit Sales: ${book.getTotalUnitSales('web')} <br>
            Total Purchase Cost: ${book.getCurrencyFormatTotalPurchaseCost('web')} <br>
            Total Sales Revenue: ${book.getCurrencyFormatTotalSalesRevenue('web')} <br>
            Distribution and support cost estimate: ${book.getCurrencyFormatCostsEstimate('web')} <br>
            Profit / Loss: ${book.getCurrencyFormatProfitLoss('web')}
          </p>
          <p>
            Sales Summary Rows: ${book.salesSummaries.size()}
          </p>
          <p>
            #{list items:book.salesSummaries, as:'salesSummary'}
              ${salesSummary.salesChannel.tag} ${salesSummary.summaryDate} ${salesSummary.salesQuantity}<br>
            #{/list}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="well span2 text-right">
    <div class="row">
      <div class="span2">
        <p>
          <img src=${book.getPhotoUrl()} class="img-polaroid" alt="${book.title}" title="${book.title}">
        </p>
        <p>
          Purchased at ${book.getCurrencyFormatPuchasePrice()}
        </p>
        <p>
          Sold at ${book.getCurrencyFormatSalePrice()}
        </p>
        <hr>
        <p>
          ${book.sku}
        </p>
        <p>
          ${book.title}
        </p>
        <p>
          <a href="@{Application.listByAuthor(book.author)}">${book.author}</a>
        </p>
        <p>
          ${book.isbn}
        </p>
      </div>
    </div>
  </div>

</div>
	
<script class="code" type="text/javascript">
  $(document).ready(function() {
    plotChart('all');
  });

  function plotChart(chartType) {
    var data;
    
    switch (chartType) {
      case 'all':
        data = [${book.getChartData('all')}];
        break;
      case 'cat':
        data = [${book.getChartData('cat')}];
        break;
      case 'dir':
        data = [${book.getChartData('dir')}];
        break;
      case 'web':
        data = [${book.getChartData('web')}];
        break;
      default:
        data = [['1900-01-01 00:00:00.0',0]];
        break;
    }

    plot = $.jqplot("chart", [data], {
      // Turns on animation for all series in this plot.
      animate: true,
      // Will animate plot on calls to plot.replot({resetAxes:true})
      animateReplot: true,
      cursor: {
        show: false,
        zoom: false,
        looseZoom: false,
        showTooltip: true
      },
      series:[
        {
          rendererOptions: {
            // speed up the animation a little bit.
            // This is a number of milliseconds.
            // Default for a line series is 2500.
            animation: {
              speed: 1000
            }
          }
        }
      ],
      axesDefaults: {
        pad: 0
      },
      axes: {
        xaxis:{
          renderer:$.jqplot.DateAxisRenderer, 
          tickOptions:{formatString:'%b %y'},
          tickInterval:'1 month',
          min: data[0][0],
          max: data[0][data[0].length]
        },
        yaxis: {
          rendererOptions: {
            forceTickAt0: true
          },
        },
      },
      highlighter: {
        show: true, 
        showLabel: true, 
        tooltipAxes: 'y',
        sizeAdjust: 7.5 , tooltipLocation : 'n'
      }
    });
  };
  
  $(window).bind('resize', function(event, ui) {
    plot.replot({resetAxes:false});
  });
  
$('a[data-toggle="tab"]').on('shown', function (e) {
  plotChart(e.target.id);
  plot.replot();
})
  
</script>
<script class="include" type="text/javascript" src="@{'/public/javascripts/jqplot/jquery.jqplot.min.js'}"></script>
<script class="include" type="text/javascript" src="@{'/public/javascripts/jqplot/plugins/jqplot.dateAxisRenderer.min.js'}"></script>
<script class="include" type="text/javascript" src="@{'/public/javascripts/jqplot/plugins/jqplot.highlighter.min.js'}"></script>
