#{extends 'main.html' /}
#{set title:'Minerva - ' + book.title /}

<div class="container">

  <div class="tabbable tabs-left span9">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab" id='all'>Combined</a></li>
      <li><a href="#tab2" data-toggle="tab" id='cat'>Catalogue</a></li>
      <li><a href="#tab3" data-toggle="tab" id='dir'>Direct</a></li>
      <li><a href="#tab4" data-toggle="tab" id='web'>Internet</a></li>
    </ul>
    <div class="tab-content">
    
      <div class = "well">
        <div id="chart" style="height:200px;"></div>
      </div>

      <div class="tab-pane fade in active" id="tab1">
        <div class = "well">
          <p>
            Sales Summary Rows: ${book.salesSummaries.size()}
            <p>
              #{list items:book.salesSummaries, as:'salesSummary'}
                ${salesSummary.summaryDate} ${salesSummary.salesQuantity}<br>
              #{/list}
            </p>
          </p>
        </div>
      </div>
      <div class="tab-pane fade in" id="tab2">
        <p>
          Sed dapibus vel enim non laoreet. Vivamus quam diam, scelerisque vitae urna nec, hendrerit laoreet sapien. Donec leo metus, laoreet et convallis sed, gravida et risus. Integer pulvinar elit sed pretium aliquet. Maecenas ac egestas tellus. Proin eget lorem nec est lacinia tempor. Donec imperdiet sodales aliquet. Morbi eget tincidunt odio. Maecenas felis ipsum, sodales vitae aliquet et, tristique vitae lectus. Suspendisse ut felis quis eros congue aliquet in et nibh. Curabitur hendrerit a justo quis porta. Ut venenatis egestas adipiscing. Vestibulum metus nisl, consectetur et sagittis eleifend, pretium ut nisi. Nam eros felis, rutrum quis adipiscing id, mattis nec mauris. Integer mattis metus eu ultricies blandit. Pellentesque condimentum posuere mauris.
        </p>
        <p>
          Phasellus eget arcu imperdiet, interdum lacus sit amet, faucibus lorem. Vestibulum nec mi nec dolor tincidunt tincidunt in non justo. Praesent suscipit auctor vulputate. Ut nec nulla urna. Etiam sed diam quis purus cursus pretium sed vitae nisl. Proin luctus sit amet tellus in scelerisque. Ut non neque sed arcu eleifend rutrum et in ante. Suspendisse suscipit, libero sed tristique gravida, nibh sapien convallis quam, nec tempus risus erat non nisi. Duis aliquam non est ut laoreet. Maecenas et orci sem. Mauris eget massa sed lacus auctor ullamcorper. Morbi sagittis ac mi a scelerisque. Donec in eros ac justo mattis condimentum cursus eu turpis. Nullam semper lectus hendrerit ante pharetra, sit amet pellentesque sem egestas.
        </p>
      </div>
      <div class="tab-pane fade in" id="tab3">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium elit ut ipsum rhoncus ultrices. Proin convallis laoreet accumsan. Curabitur a semper nisi, nec interdum metus. Pellentesque dignissim mi porttitor dictum egestas. Nulla id feugiat erat, a egestas nulla. Integer et varius ipsum. Vivamus placerat rutrum dui. Fusce orci magna, venenatis ut massa et, euismod ornare nulla. Cras sagittis dictum turpis. Aenean quis odio sed neque tempor placerat. Duis in rhoncus velit.
        </p>
        <p>
          Integer diam est, malesuada nec egestas in, tempus sit amet dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin turpis metus, facilisis eget placerat non, consectetur sit amet orci. Maecenas faucibus sem et ligula rhoncus, sit amet consectetur felis pretium. Nam eget sem neque. Curabitur et sagittis nulla. Integer feugiat justo ut libero pellentesque ornare. Mauris sit amet tristique urna. Donec massa ligula, adipiscing a iaculis non, rhoncus et elit. Pellentesque eu leo eget leo tincidunt venenatis. Cras vestibulum tortor id arcu tincidunt, vitae eleifend lacus rhoncus. Cras mattis bibendum odio, eu viverra erat tincidunt sollicitudin. Mauris eros dolor, porttitor at ultrices non, molestie eget nisi. Vivamus auctor nisi at felis tempus viverra.
        </p>
      </div>
      <div class="tab-pane fade in" id="tab4">
        <p>
          Sed dapibus vel enim non laoreet. Vivamus quam diam, scelerisque vitae urna nec, hendrerit laoreet sapien. Donec leo metus, laoreet et convallis sed, gravida et risus. Integer pulvinar elit sed pretium aliquet. Maecenas ac egestas tellus. Proin eget lorem nec est lacinia tempor. Donec imperdiet sodales aliquet. Morbi eget tincidunt odio. Maecenas felis ipsum, sodales vitae aliquet et, tristique vitae lectus. Suspendisse ut felis quis eros congue aliquet in et nibh. Curabitur hendrerit a justo quis porta. Ut venenatis egestas adipiscing. Vestibulum metus nisl, consectetur et sagittis eleifend, pretium ut nisi. Nam eros felis, rutrum quis adipiscing id, mattis nec mauris. Integer mattis metus eu ultricies blandit. Pellentesque condimentum posuere mauris.
        </p>
        <p>
          Phasellus eget arcu imperdiet, interdum lacus sit amet, faucibus lorem. Vestibulum nec mi nec dolor tincidunt tincidunt in non justo. Praesent suscipit auctor vulputate. Ut nec nulla urna. Etiam sed diam quis purus cursus pretium sed vitae nisl. Proin luctus sit amet tellus in scelerisque. Ut non neque sed arcu eleifend rutrum et in ante. Suspendisse suscipit, libero sed tristique gravida, nibh sapien convallis quam, nec tempus risus erat non nisi. Duis aliquam non est ut laoreet. Maecenas et orci sem. Mauris eget massa sed lacus auctor ullamcorper. Morbi sagittis ac mi a scelerisque. Donec in eros ac justo mattis condimentum cursus eu turpis. Nullam semper lectus hendrerit ante pharetra, sit amet pellentesque sem egestas.
        </p>
      </div>
    </div>
  </div>

  <div class="well span2 text-right">
    <div class="row">
      <div class="span2">
        <p>
          <img src=${book.getPhotoUrl()} class="img-polaroid" alt="${book.title}" title="${book.title}">
        </p>
        <p>
          Purchased at ${book.getCurrencyFormatPuchasePrice()}
        </p>
        <p>
          Sold at ${book.getCurrencyFormatSalePrice()}
        </p>
        <hr>
        <p>
          ${book.sku}
        </p>
        <p>
          ${book.title}
        </p>
        <p>
          <a href="@{Application.listByAuthor(book.author)}">${book.author}</a>
        </p>
        <p>
          ${book.isbn}
        </p>
      </div>
    </div>
  </div>

</div>
	
<script class="code" type="text/javascript">
  $(document).ready(function() {
    plotChart('all');
  });

  function plotChart(chartType) {
    var data;
    
    switch (chartType) {
      case 'all':
        data = [${book.getChartData()}];
        break;
      case 'cat':
        data = [['2000-01-01 00:00:00.0',0],['2000-02-01 00:00:00.0',5],['2000-03-01 00:00:00.0',10],['2000-04-01 00:00:00.0',15]];
        break;
      case 'dir':
        data = [['2002-05-01 00:00:00.0',4],['2002-06-01 00:00:00.0',6],['2002-07-01 00:00:00.0',4]];
        break;
      case 'web':
        data = [['2005-08-01 00:00:00.0',10],['2005-09-01 00:00:00.0',100]];
        break;
      default:
        data = [['1900-01-01 00:00:00.0',0]];
        break;
    }

    plot = $.jqplot("chart", [data], {
      // Turns on animation for all series in this plot.
      animate: true,
      // Will animate plot on calls to plot.replot({resetAxes:true})
      animateReplot: true,
      cursor: {
        show: false,
        zoom: false,
        looseZoom: false,
        showTooltip: true
      },
      series:[
        {
          rendererOptions: {
            // speed up the animation a little bit.
            // This is a number of milliseconds.
            // Default for a line series is 2500.
            animation: {
              speed: 1000
            }
          }
        }
      ],
      axesDefaults: {
        pad: 0
      },
      axes: {
        xaxis:{
          renderer:$.jqplot.DateAxisRenderer, 
          tickOptions:{formatString:'%b %y'},
          tickInterval:'1 month',
          min: data[0][0],
          max: data[0][data[0].length]
        },
        yaxis: {
          rendererOptions: {
            forceTickAt0: true
          },
        },
      },
      highlighter: {
        show: true, 
        showLabel: true, 
        tooltipAxes: 'y',
        sizeAdjust: 7.5 , tooltipLocation : 'n'
      }
    });
  };
  
  $(window).bind('resize', function(event, ui) {
    plot.replot({resetAxes:false});
  });
  
$('a[data-toggle="tab"]').on('shown', function (e) {
  plotChart(e.target.id);
  plot.replot();
})
  
</script>
<script class="include" type="text/javascript" src="@{'/public/javascripts/jqplot/jquery.jqplot.min.js'}"></script>
<script class="include" type="text/javascript" src="@{'/public/javascripts/jqplot/plugins/jqplot.dateAxisRenderer.min.js'}"></script>
<script class="include" type="text/javascript" src="@{'/public/javascripts/jqplot/plugins/jqplot.highlighter.min.js'}"></script>
