<!DOCTYPE html>
<html>
  <head>
    <title>Chart</title>
    <link class="include" rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.jqplot.min.css'}" />
    <script class="include" type="text/javascript" src="@{'/public/javascripts/jquery-1.9.1.js'}"></script>
  </head>

  <body>
    <div id="chart" style="width:600px; height:300px"></div>
	
    <script class="code" type="text/javascript">
      $(document).ready(function () {
		var data = [['2010-01-01 0:00AM', 1020], ['2010-02-01 0:00AM', 1080], ['2010-03-01 0:00AM', 1000], ['2010-04-01 0:00AM', 1150]];
		
		plot1 = $.jqplot("chart", [data], {
          // Turns on animation for all series in this plot.
          animate: true,
          // Will animate plot on calls to plot1.replot({resetAxes:true})
          animateReplot: true,
          cursor: {
            show: false,
            zoom: false,
            looseZoom: false,
            showTooltip: true
          },
          series:[
            {
              rendererOptions: {
                // speed up the animation a little bit.
                // This is a number of milliseconds.
                // Default for a line series is 2500.
                animation: {
                  speed: 2000
                }
              }
            }
          ],
          axesDefaults: {
            pad: 0
          },
          axes: {
            xaxis:{
              renderer:$.jqplot.DateAxisRenderer, 
              tickOptions:{formatString:'%b %y'},
              tickInterval:'1 month'
            },
            yaxis: {
              rendererOptions: {
                forceTickAt0: false
              }
            },
          },
          highlighter: {
            show: true, 
            showLabel: true, 
            tooltipAxes: 'y',
            sizeAdjust: 7.5 , tooltipLocation : 'ne'
          }
        });
      });
    </script>
    <script class="include" type="text/javascript" src="@{'/public/javascripts/jqplot/jquery.jqplot.min.js'}"></script>
    <script class="include" type="text/javascript" src="@{'/public/javascripts/jqplot/plugins/jqplot.barRenderer.min.js'}"></script>
    <script class="include" type="text/javascript" src="@{'/public/javascripts/jqplot/plugins/jqplot.dateAxisRenderer.min.js'}"></script>
    <script class="include" type="text/javascript" src="@{'/public/javascripts/jqplot/plugins/jqplot.highlighter.min.js'}"></script>
    <script class="include" type="text/javascript" src="@{'/public/javascripts/jqplot/plugins/jqplot.cursor.min.js'}"></script>
    <script class="include" type="text/javascript" src="@{'/public/javascripts/jqplot/plugins/jqplot.pointLabels.min.js'}"></script>
  </body>
</html>
