#{extends 'main.html' /}
#{set title:'Books' /}

<div class="container">
  #{if allBooks.size()}
    <h3>All Books</h3>
    <div class="row">
	  <div class="span12">
	    <table class="table table-striped">
          <thead>
            <tr>
              <th class="hidden-phone"></th>
              <th>CODE</th>
              <th>TITLE</th>
              <th>AUTHOR</th>
              <th class="hidden-phone"><div class="text-center">ISBN</div></th>
              <th class="hidden-phone"><div class="text-center">BUY</div></th>
              <th class="hidden-phone"><div class="text-center">SELL</div></th>
              <th><div class="text-center"></div></th>
            </tr>
          </thead>
            
          <tbody>
            #{list items:allBooks, as:'book'}
              <tr>
                <td class="hidden-phone">
                  <div class="text-center">
                    <a href="@{Application.showBookDetail(book.isbn)}">
                      <img src=${book.getPhotoUrl()} class="img-polaroid" alt="${book.title}" title="${book.title}">
                    </a>
                  </div>
                </td>
                <td>
                  <a href="@{Application.showBookDetail(book.isbn)}">${book.sku}</a>
                </td>
                <td>
                  <a href="@{Application.showBookDetail(book.isbn)}">${book.title}</a>
                </td>
                <td>
                  <a href="">${book.author}</a>
                </td>
                <td class="hidden-phone">
                  <div class="text-center">${book.isbn}</div>
                </td>
                <td class="hidden-phone">
                  <div class="text-center">${book.getCurrencyFormatPuchasePrice()}</div>
                </td>
                <td class="hidden-phone">
                  <div class="text-center">${book.getCurrencyFormatSalePrice()}</div>
                </td>
                <td>
                  <a href="@{Application.showBookDetail(book.isbn)}" class="btn btn-info">
                    <i class="icon-bar-chart"></i>
                  </a>
                </td>
              </tr>
            #{/list}
          </tbody>
        </table>
      </div>
    </div>
  #{/if}
  
  #{else}
    <h3>No books!</h3>
  #{/else}
</div>
